monad-lisa/*.hi
monad-lisa/*.o
monad-lisa/*.swp
monad-lisa/*.tag
monad-lisa/*~
monad-lisa/*_flymake.hs
monad-lisa/.hsenv
monad-lisa/.stack-work/
monad-lisa/.stack-root/
monad-lisa//.cabal-sandbox/
monad-lisa/TAGS
monad-lisa/cabal-dev/
monad-lisa/cabal.sandbox.config
monad-lisa/dist/
monad-lisa/tags
monad-lisa//_release/
monad-lisa/.vagrant/
monad-lisa/*.imports
monad-lisa//.idea/
monad-lisa//*.iml
monad-lisa//src/highlight.js
monad-lisa//src/style.css
monad-lisa//_site/
monad-lisa//.dir-locals.el
monad-lisa//.git/
